* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #06283D;
}

.inputField {
    height: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 30px;
}

.temp {
    font-size: 20px;
}

.condition {
    font-size: 25px;
    transition: 0.6s ease-in;

}

.weatherContainer {
    margin-top: 100px;
    border: 1px solid black;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: black;
    background: lightcyan;
    border-radius: 20px;
    overflow: hidden;
    padding: 28px 32px;
    transition: 0.6s ease-out;
}

.submitBTN {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    transition: 0.3s ease;
}

.submitBTN:hover {
    color: white;
    background: #06283D;
}


.timeField {
    font-size: 15px;
}